/* Global css */




/* About us section */
.about{
  background-image: url(../img/HomePg/green-leaves-wall-final.png);
  object-fit: cover;
  min-height: 85vh;
  height: auto;
}

.about img{
  border-radius: 5px;
}


/* Projects section */
.content-box{
  background-color: #41758B;
  margin: 5px;
  padding: 0px 20px 10px 20px;
  border-radius: 5px;
  height: 700px;
}

.projects img{
  border-radius: 5px;
}

/* Our services section*/
.services{
  background-color: #2B3F47;
}

.round img{
  border-radius: 50%;
}

.sq img{
  border-radius: 5px;
}

.services h5{
  color: white;
}

.services p{
  color: white;
  font-size: x-small;
}

.services content{
  background-color: white;
  height: 180px;
  width: 280px;
}