/* Global css */




/* About us section */
.about{
  background-image: url(/img/HomePg/green-leaves-wall-final.png);
  object-fit: cover;
  min-height: 80vh;
  height: auto;
}


/* Projects section */
.content-box{
  background-color: #41758B;
  margin: 5px;
  padding: 0px 20px 10px 20px;
  border-radius: 5px;
}

.projects img{
  border-radius: 5px;
}