/* Global css */
.button-content{
    font-size: 12px;
}









/* VIEW OUR SERVICES button */
.hero button {
  position: relative;
  overflow: hidden;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1.5rem;
  background: #41758b;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.hero button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.hero button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg, #2b3f47 10.8%, #41758b 94.3%);
  transition: all 0.475s;
}



/* About us section */
.about{
  background-image: url(/img/HomePg/green-leaves-wall-final.png);
  object-fit: cover;
  min-height: 100vh;
  height: auto;
}






/* .bgimage .content .text-content {
    padding: 20px;
    border-radius: 10px;
} */









/* SEE OUR PROJECTS button */
.about button {
  position: relative;
  overflow: hidden;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1.5rem;
  background: #d2eae7;
  background-size: 400%;
  color: #000000;
  border: none;
  cursor: pointer;
}

.about button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.about button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg, #009082 10.8%, #d2eae7 94.3%);
  transition: all 0.475s;
}

